extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1 Eduardo Sousa.
              h2  Software Developer
          p
            | Experices with .NET (C# and F#), PowerShell and Bash scripting, node, and more!
            | Also a
            a(href="http://www.vim.org/", title="Vim", target="_blank") Vim
            | enthusiastic!

    section(class="main-content")
      h3 Some of public work
      ol(class="round")
          li(class="one")
              h5
                a(href="https://www.powershellgallery.com/packages/PSSudo/", title="PSSudo", target="_blank") PSSudo
              p 
                | PowerShell module to help elevating Windows admin privileges. 
                a(href="https://github.com/ecsousa/PSSudo", title="PSSudo source code", target="_blank") View source code
          li(class="two")
              h5
                a(href="https://www.powershellgallery.com/packages/PSColors/", title="PSColors", target="_blank") PSColors
              p 
                | PowerShell module that injects nice coloring to it
                a(href="https://github.com/ecsousa/PSColors", title="PSColors source code", target="_blank") View source code
          